body{
    width: 100%;
}



.album-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content; /* se ajusta al tamaño de la imagen */
}


#chansey{
    width: 200px;
    height: 200px;
    
}

#chansey:hover{

    transform: scale(1.05);
    cursor: pointer;
}

#asumelo{
    width: 200px;
    height: 200px;
}

#asumelo:hover{

    transform: scale(1.05);
    cursor: pointer;
}

#main-musica{

    display: flex;
    height: 50vh;
   
}

h2{
    text-align: center;
    color: white;
}

.musica-container {
    display: flex;
    flex-direction: row;
    color: white;
    width: 100%;
    overflow: hidden;
    gap: 70px;
}